APP_NAME=OTS Admin
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_BASE_PATH=
LOG_PATH=logs/app.log

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3307
DB_NAME=ots_db
DB_USER=root
DB_PASS=

SYNC_SECRET=OTS_SYNC_SECRET_2026
SYNC_URL=http://localhost:8000/run-sync-all
BPS_API_KEY=98aed4f1c15772355ce733df19243b4e
